name: Build and Publish Docker Image

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit Tests
        with:
          FOO: ${{ secrets.FOO }}
        run: go test -v ./...

  build-and-publish:
    runs-on: ubuntu-latest
    needs: test
    steps:
      ## checks out our project source code
      - uses: actions/checkout@v2
      
      ## Builds our docker image!
      - name: Build the Docker image
        run: docker build -t n9mi/coba-go-actions:$(date +%s) .

      ## Publishes our image to Docker Hub 
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          ## the name of our image
          name: n9mi/coba-go-actions
          ## Here we pass in our Docker Username
          username: ${{ secrets.DOCKER_USERNAME }}
          ## and our Docker password which 
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
